.bgImage {
  background: url('/images/pages/faq-header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.layoutSpacing {
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (min-width: 900px) {
    max-inline-size: 900px;
  }

  @media (min-width: 1200px) {
    max-inline-size: 1200px;
  }

  @media (min-width: 1920px) {
    max-inline-size: 1440px;
  }
}

.body {
  inline-size: 100%;
  background-color: var(--mui-palette-background-paper);
  padding: 20px 0;

  .content {
    inline-size: calc(100% - 48px);
    /* padding-block: 0.475rem;
    padding-inline: 1.5rem; */
    margin-inline: auto;
    pointer-events: auto;
    background-color: rgb(var(--mui-palette-background-paperChannel) / 0.64);
    border-inline: 1px solid rgb(var(--mui-palette-background-paperChannel) / 0.78);
    border-block-end: 1px solid rgb(var(--mui-palette-background-paperChannel) / 0.78);
    border-end-start-radius: var(--mui-shape-borderRadius);
    border-end-end-radius: var(--mui-shape-borderRadius);

    &.headerScrolled {
      background-color: var(--mui-palette-background-paper);
      border-color: var(--mui-palette-background-paper);
      box-shadow: var(--mui-shadows-2);
    }

    @media (min-width: 600px) {
      /* padding-inline: 2rem; */
    }
    @media (min-width: 900px) {
      max-inline-size: calc(900px - 48px);
    }
    @media (min-width: 1200px) {
      max-inline-size: calc(1200px - 48px);
    }
    @media (min-width: 1920px) {
      max-inline-size: calc(1440px - 48px);
    }
  }
}
